$titleColor: #1E1E1C;
$whiteColor: #ffffff;
$secondColor: #27AE60;
$footerColorBg: #424141;
$borderColor: #a8a8a8;
$whyTextColor: #393838;
$textColor: #67675f;
$block-bg: #f8f8f8;
$counterColor: #1d1d1b;
$formTextColor:#181a28;