<footer class="footer" data-aos="zoom-up">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <a class="footer__logo" href="index.html">
                    <img class="footer__logo-img" src="assets/img/footer/logo.svg" alt="logo">
                </a>
                <div class="footer__copy">
                    <p class="footer__copy-text">Политика конфиденциальности © спец-транс, 2023</p>
                </div>
                <nav class="footer__nav">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="materials-page.html">Материалы</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="rent.html">Услуги</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__contacts">
                <ul class="footer__socials">
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" target="_blank" href="#">
                            <img class="footer__socials-icon" src="assets/img/footer/svg/vk.svg" alt="vk">
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" target="_blank" href="#">
                            <img class="footer__socials-icon" src="assets/img/footer/svg/facebook.svg" alt="facebook">
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" target="_blank" href="#">
                            <img class="footer__socials-icon" src="assets/img/footer/svg/what.svg" alt="what">
                        </a>
                    </li>
                </ul>
                <a class="footer__contacts-phone" href="tel:+79282451520">+7 928 245 15 20</a>
            </div>
        </div>
    </div>
</footer>