<div class="form-modal lock-padding">
    <div class="container">
        <div class="form-modal__inner">
            <button class="form-modal__close-btn"></button>
            <form class="questions__form" id="idQuestionForm-modal" action="/" method="post">
                <input class="questions__form-input" type="text" placeholder="Имя">
                <input class="questions__form-input" type="tel" placeholder="Телефон">
                <textarea class="questions__form-textarea" placeholder="Комментарии"></textarea>
                <label class="questions__form-label">
                    <input class="questions__form-checkbox" type="checkbox" checked>
                    <span class="questions__form-checkbox-style"></span>
                    Соглашение о персональных данных
                </label>
                <button class="questions__btn global-btn" form="idQuestionForm-modal" type="submit">Заказать звонок</button>
            </form>
        </div>
    </div>
</div>