<header class="header lock-padding">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="index.html" data-aos="fade-down" data-aos-delay="50">
                <img class="header__logo-img" src="assets/img/header/logo.svg" alt="logo">
            </a>
            <nav class="header__nav">
                <ul class="header__menu-list">
                    <li class="header__menu-item" data-aos="fade-down" data-aos-delay="50">
                        <a class="header__menu-link" href="rent.html">Услуги</a>
                    </li>
                    <li class="header__menu-item" data-aos="fade-down" data-aos-delay="100">
                        <a class="header__menu-link" href="materials-page.html">Материалы</a>
                    </li>
                    <li class="header__menu-item" data-aos="fade-down" data-aos-delay="100">
                        <a class="header__menu-link" href="#">Доставка и оплата</a>
                    </li>
                    <li class="header__menu-item" data-aos="fade-down" data-aos-delay="150">
                        <a class="header__menu-link" href="#">О компании</a>
                    </li>
                    <li class="header__menu-item" data-aos="fade-down" data-aos-delay="150">
                        <a class="header__menu-link" href="#">Контакты</a>
                    </li>
                </ul>
                <button class="header__btn global-btn openForm" data-aos="fade-down" data-aos-delay="150">Заказать звонок</button>
            </nav>
            <button class="burger__open-btn" type="button" data-aos="fade-down" data-aos-delay="50">
                <span></span>
            </button>
        </div>
    </div>
</header>